extends ../layout/index

block style
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl-font-extrabold= pagina


        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-2xl my-10 md:px-10")
            form.space-y-8
                div.space-y-5 
                    h3.text-lg.leading-6.font-medium.text-gray-900 Informacion General
                    p.text-gray-600 Añade información sobre la propiedad en venta

                    
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="title") Titulo de anuncio
                        input#title.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(placeholder="Titulo Propiedad, ej. Casa en la playa " type="text" name="title")
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="description") Descripción de la propiedad 
                        textarea#desription.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(placeholder="Descripción de la propiedad" name="description")
                                    
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
                        
                        div(class="md:w-1/2") 
                            label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="category") Categoria
                            select#category.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(name="category")
                                option(value="") - Seleccione -
                                each category in categorys
                                    option(value=category.id)= category.name 
                        
                        div(class="md:w-1/2") 
                            label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="price") Precio
                            select#price.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(name="price")
                                option(value="") - Seleccione -
                                each price in prices
                                    option(value=price.id)= price.name 

                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
                        
                        div(class="md:w-1/3") 
                            label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="roomQty") Habitaciones 
                            select#roomQty.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(name="roomQty")
                                option(value="") - Seleccione -
                                - let nRooms = 1;
                                    while nRooms < 10
                                        option(value=nRooms) #{nRooms++}
                        
                        div(class="md:w-1/3") 
                            label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="garage") Estacionamiento
                            select#garage.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(name="garage")
                                option(value="") - Seleccione -
                                - let nGarage = 1;
                                    while nGarage < 4
                                        option(value=nGarage) #{nGarage++}

                        div(class="md:w-1/3") 
                            label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="wc") WC
                            select#wc.w-full.px-3.py-2.border.border-gray-700.rounded-md.placeholder-gray-400(name="wc")
                                option(value="") - Seleccione -
                                - let nWc = 1;
                                    while nWc < 6
                                        option(value=n) #{nWc++}

                    div.border-gray-200.border-t.py-5.space-y-5
                        h3.text-lg.leading-6.font-medium.text-gray-900 Ubicación
                        p.text-gray-600 Ubica la propiedad en el mapa                 
                        #mapa.h-96

                        div
                            p.calle
                        
                        input(Type="hidden" name="street" id="street")
                        input(Type="hidden" name="lat" id="lat")
                        input(Type="hidden" name="lng" id="lng")



block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/maps.js")